p {



}



h1 {

    text-align: center;

    font-size: 260%;

    color: #bdff00;

}



body {

    color: #bdff00;

    background-image: url('https://media.giphy.com/media/hHFDrApke3dhC/giphy.gif');

    background-size: cover;

    font-size: 12pt;

    font-family: 'Oldenburg', cursive;

}



a {

    color: #bdff00;

    text-decoration: none;

}

a:hover {

    color: forestgreen;

}